@import "utils/_helpers.scss";

.lightbox-overlay {
  position: fixed;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  cursor: pointer;
  @include flexContainer(center, center);
  .lightbox-container {
    width: 70vw;
    height: 70vh;
    @include flexContainer(center, start);
  }
  .lightbox-content {
    width: 500px;
    max-width: 70vw;
    min-height: 200px;
    max-height: 70vw;
  }
}
